<h1>Your personal cloud of messages</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam massa vitae nibh bibendum venenatis. 
Integer pharetra vehicula elit, at congue risus condimentum quis. Proin vel est ut purus blandit laoreet. Aenean 
in ullamcorper nunc. Cras lacinia nunc nec turpis aliquet quis blandit eros consectetur. Nunc sed augue at justo 
hendrerit euismod. Nullam sit amet mauris diam, non vehicula libero. Integer dignissim ante eu lacus tincidunt et 
scelerisque sem lobortis. Nulla eget nulla purus. Suspendisse imperdiet nulla blandit velit tincidunt facilisis id
quis justo. Proin quis aliquet nisl. Mauris vel turpis urna. Fusce mauris nulla, tempus sit amet facilisis sit amet, 
pellentesque eget orci. Donec eros diam, laoreet in pulvinar vitae, auctor nec nisl. Sed odio orci, ornare in tempus 
sed, ultricies non arcu. Maecenas eu mauris nunc, vitae ultricies metus. Aliquam a auctor nunc.</p>

<p>Quisque fermentum, diam eget sagittis blandit, sapien diam suscipit dolor, sit amet tempus felis massa eu augue. 
Nulla facilisi. Mauris eget nunc magna, vitae rhoncus augue. Nulla feugiat porta metus, in dapibus ante tristique et. 
Duis ut ultricies sem. Vestibulum fermentum dolor ac risus convallis sit amet molestie leo congue. Fusce iaculis 
ligula quis erat adipiscing a congue massa laoreet. Vestibulum porta elit vitae tortor interdum euismod eu nec turpis. 
Duis vitae vehicula justo. Mauris vestibulum, lectus vitae cursus ultrices, dolor diam congue eros, ac tristique 
justo nibh ut lectus. Pellentesque et ante vel mi molestie sagittis. Aliquam nec mi ac lectus volutpat lacinia vitae
sed odio. Vestibulum scelerisque, risus et lobortis posuere, justo ligula mollis purus, vel bibendum tellus risus id 
enim. Quisque a dolor ante. Nunc pharetra sagittis erat a tempus. Suspendisse velit leo, volutpat et consequat quis, 
consectetur sed tellus. Quisque ultrices gravida ipsum, at lacinia nisl venenatis vel. Etiam ut arcu sapien. Aliquam 
erat volutpat. Pellentesque risus turpis, venenatis at mattis vel, venenatis sit amet dui.</p>

<p class="actions-bar wat-cf">
  <%= link_to "Create an account", new_user_registration_path, :class=>"button" %>
  <%= link_to "Sign in", new_user_session_path, :class=>"button" %>
</p>
